@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
textarea,
input,
button {
  font-family: 'Ubuntu';
  font-size: 14px;
}

code {
  font-family: 'Ubuntu';
}
